<header>
  <h1>{{title}}</h1>
    <a href="/">weather</a>
    <a href="/about">About</a>
    <a href="/help">help</a>
</header>









{{!-- <!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a href="/">weather</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/help">help</a></li>
</ul>
<h1>{{title}}</h1>
</body> --}}
